n8n-workflows/phase2-scoring.json
{
  "name": "Phase 2 — LLM Scoring",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "minutes", "minutesInterval": 30 }] }
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000001",
      "name": "Every 30 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [160, 200]
    },
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000002",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [160, 420],
      "webhookId": "phase2-tg-webhook",
      "credentials": { "telegramApi": { "id": "SETUP_REQUIRED", "name": "Telegram Bot API" } }
    },
    {
      "parameters": {
        "url": "=http://localhost:{{ $env.PORT || '3000' }}/api/jobs?status=new&limit=20",
        "options": {}
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000003",
      "name": "Fetch Unscored Jobs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 200]
    },
    {
      "parameters": {
        "jsCode": "return ($input.item.json.jobs || []).map(j => ({ json: j }));"
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000004",
      "name": "Split Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [620, 200]
    },
    {
      "parameters": {
        "url": "https://openrouter.ai/api/v1/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"{{ $env.LLM_MODEL || 'openai/gpt-4o-mini' }}\",\n  \"temperature\": {{ $env.LLM_TEMPERATURE || 0.3 }},\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a career coach evaluating job fit. Respond with valid JSON only: {\\\"fit_score\\\": <0-100>, \\\"rationale\\\": \\\"<2-3 sentences>\\\", \\\"missing_skills\\\": [\\\"skill1\\\"]}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Title: {{ $json.title }}\\nCompany: {{ $json.company }}\\nLocation: {{ $json.location }}\\n\\nDescription:\\n{{ $json.description }}\\n\\nRequirements:\\n{{ $json.requirements }}\"\n    }\n  ]\n}",
        "options": { "timeout": 30000 }
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000005",
      "name": "Score with LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 200],
      "credentials": {
        "httpHeaderAuth": { "id": "SETUP_REQUIRED_OPENROUTER", "name": "OpenRouter API Key" }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw    = $input.item.json.choices?.[0]?.message?.content || '{}';\nconst clean  = raw.replace(/^```(?:json)?\\s*/i, '').replace(/\\s*```$/, '').trim();\nlet parsed;\ntry   { parsed = JSON.parse(clean); }\ncatch { parsed = { fit_score: 0, rationale: 'Parse error', missing_skills: [] }; }\n\n// Retrieve the job id from two nodes back\nconst jobId = $('Split Jobs').item.json.id;\n\nreturn { json: { job_id: jobId, ...parsed } };"
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000006",
      "name": "Parse Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 200]
    },
    {
      "parameters": {
        "url": "=http://localhost:{{ $env.PORT || '3000' }}/api/jobs/{{ $json.job_id }}",
        "httpMethod": "PATCH",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"status\": \"scored\",\n  \"fit_score\": {{ $json.fit_score }},\n  \"rationale\": {{ JSON.stringify($json.rationale) }},\n  \"missing_skills\": {{ JSON.stringify($json.missing_skills || []) }}\n}",
        "options": {}
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000007",
      "name": "Save Score",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 200]
    },
    {
      "parameters": {
        "jsCode": "// /review <job_id> handler\nconst text   = ($input.item.json.message?.text || '').trim();\nconst chatId = $input.item.json.message?.chat?.id;\nif (!text.startsWith('/review')) return [];\nconst parts = text.split(/\\s+/);\nconst jobId = parseInt(parts[1], 10);\nif (!jobId) return { json: { chatId, text: 'Usage: /review <job_id>' } };\nreturn { json: { chatId, jobId } };"
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000008",
      "name": "Parse Review Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 420]
    },
    {
      "parameters": {
        "url": "=http://localhost:{{ $env.PORT || '3000' }}/api/jobs/{{ $json.jobId }}",
        "options": {}
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000009",
      "name": "Fetch Job Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [620, 420]
    },
    {
      "parameters": {
        "jsCode": "const j      = $input.item.json;\nconst chatId = $('Parse Review Command').item.json.chatId;\nconst score  = j.fit_score !== null ? `${j.fit_score}/100` : 'Not scored yet';\nconst skills = j.missing_skills ? JSON.parse(j.missing_skills).join(', ') || 'None' : 'N/A';\n\nconst text = [\n  `<b>Job #${j.id} — ${j.title}</b>`,\n  `🏢 ${j.company} | 📍 ${j.location || 'Remote'}`,\n  ``,\n  `<b>Fit Score:</b> ${score}`,\n  `<b>Status:</b> ${j.status}`,\n  ``,\n  `<b>Rationale:</b>`,\n  j.rationale || '(not scored yet)',\n  ``,\n  `<b>Missing Skills:</b>`,\n  skills,\n  ``,\n  `<a href=\"${j.canonical_url}\">View on LinkedIn</a>`,\n].join('\\n');\n\nreturn { json: { text, chatId } };"
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000010",
      "name": "Format Review",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 420]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": { "parse_mode": "HTML", "disable_web_page_preview": true }
      },
      "id": "c3d4e5f6-0002-0002-0002-000000000011",
      "name": "Send Review",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1060, 420],
      "credentials": { "telegramApi": { "id": "SETUP_REQUIRED", "name": "Telegram Bot API" } }
    }
  ],
  "connections": {
    "Every 30 Minutes":     { "main": [[{ "node": "Fetch Unscored Jobs",    "type": "main", "index": 0 }]] },
    "Fetch Unscored Jobs":  { "main": [[{ "node": "Split Jobs",             "type": "main", "index": 0 }]] },
    "Split Jobs":           { "main": [[{ "node": "Score with LLM",         "type": "main", "index": 0 }]] },
    "Score with LLM":       { "main": [[{ "node": "Parse Score",            "type": "main", "index": 0 }]] },
    "Parse Score":          { "main": [[{ "node": "Save Score",             "type": "main", "index": 0 }]] },
    "Telegram Trigger":     { "main": [[{ "node": "Parse Review Command",   "type": "main", "index": 0 }]] },
    "Parse Review Command": { "main": [[{ "node": "Fetch Job Details",      "type": "main", "index": 0 }]] },
    "Fetch Job Details":    { "main": [[{ "node": "Format Review",          "type": "main", "index": 0 }]] },
    "Format Review":        { "main": [[{ "node": "Send Review",            "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "versionId": "phase2-v1.0.0",
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "local-job-agent" },
  "id": "workflow-phase2-scoring",
  "tags": [{ "name": "phase-2" }, { "name": "llm" }, { "name": "scoring" }]
}
