n8n-workflows/phase3-package-gen.json
{
  "name": "Phase 3 — Package Generation",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000001",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [160, 300],
      "webhookId": "phase3-tg-webhook",
      "credentials": { "telegramApi": { "id": "SETUP_REQUIRED", "name": "Telegram Bot API" } }
    },
    {
      "parameters": {
        "jsCode": "const text   = ($input.item.json.message?.text || '').trim();\nconst chatId = $input.item.json.message?.chat?.id;\nconst from   = $input.item.json.message?.from;\nconst userId = String(from?.id || '');\nconst username = from?.username || from?.first_name || 'User';\n\nlet command = 'passthrough';\nlet targetId = null;\n\nif (text.startsWith('/approve ')) { command = 'approve'; targetId = parseInt(text.split(' ')[1], 10); }\nif (text.startsWith('/reject '))  { command = 'reject';  targetId = parseInt(text.split(' ')[1], 10); }\n\nreturn { json: { command, targetId, chatId, userId, username } };"
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000002",
      "name": "Parse Approval Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [380, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.command }}", "rightValue": "approve", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "approve"
            },
            {
              "conditions": {
                "options": { "caseSensitive": true, "typeValidation": "loose" },
                "conditions": [{ "leftValue": "={{ $json.command }}", "rightValue": "reject",  "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true, "outputKey": "reject"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000003",
      "name": "Route Approval",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [600, 300]
    },
    {
      "parameters": {
        "url": "=http://localhost:{{ $env.PORT || '3000' }}/api/applications/{{ $json.targetId }}",
        "httpMethod": "PATCH",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"approved\", \"approved_by\": \"{{ $('Parse Approval Command').item.json.username }}\" }",
        "options": {}
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000004",
      "name": "Mark Approved",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 180]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Approval Command').item.json.chatId }}",
        "text": "=✅ Application #{{ $('Parse Approval Command').item.json.targetId }} approved by @{{ $('Parse Approval Command').item.json.username }}.\n\nRun /apply {{ $('Parse Approval Command').item.json.targetId }} when ready to submit.",
        "additionalFields": {}
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000005",
      "name": "Send Approved",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1060, 180],
      "credentials": { "telegramApi": { "id": "SETUP_REQUIRED", "name": "Telegram Bot API" } }
    },
    {
      "parameters": {
        "url": "=http://localhost:{{ $env.PORT || '3000' }}/api/applications/{{ $json.targetId }}",
        "httpMethod": "PATCH",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"status\": \"rejected\" }",
        "options": {}
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000006",
      "name": "Mark Rejected",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [840, 380]
    },
    {
      "parameters": {
        "chatId": "={{ $('Parse Approval Command').item.json.chatId }}",
        "text": "=❌ Application #{{ $('Parse Approval Command').item.json.targetId }} rejected.",
        "additionalFields": {}
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000007",
      "name": "Send Rejected",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1060, 380],
      "credentials": { "telegramApi": { "id": "SETUP_REQUIRED", "name": "Telegram Bot API" } }
    },
    {
      "parameters": {
        "jsCode": "// ── PHASE 3 PACKAGE GENERATION PLACEHOLDER ──────────────────────────\n// Triggered automatically when a job scores above MIN_FIT_SCORE_TO_APPLY.\n// Steps to implement:\n//   1. Fetch full job description from DB\n//   2. Send to OpenRouter with your resume/playbook as context\n//   3. Generate tailored cover letter + resume bullet points\n//   4. Save to artifacts/resumes/<job_id>/<timestamp>/\n//   5. POST to /api/applications to create the application record\n//   6. Send Telegram message with approve/reject buttons\n//\n// This node is a stub until Phase 3 is implemented.\nreturn { json: { note: 'Package generation not yet implemented — Phase 3 required' } };"
      },
      "id": "d4e5f6a7-0003-0003-0003-000000000008",
      "name": "Generate Package [STUB]",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, 560]
    }
  ],
  "connections": {
    "Telegram Trigger":      { "main": [[{ "node": "Parse Approval Command", "type": "main", "index": 0 }]] },
    "Parse Approval Command":{ "main": [[{ "node": "Route Approval",         "type": "main", "index": 0 }]] },
    "Route Approval": {
      "main": [
        [{ "node": "Mark Approved", "type": "main", "index": 0 }],
        [{ "node": "Mark Rejected", "type": "main", "index": 0 }]
      ]
    },
    "Mark Approved": { "main": [[{ "node": "Send Approved", "type": "main", "index": 0 }]] },
    "Mark Rejected": { "main": [[{ "node": "Send Rejected", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "versionId": "phase3-v1.0.0",
  "meta": { "templateCredsSetupCompleted": false, "instanceId": "local-job-agent" },
  "id": "workflow-phase3-packages",
  "tags": [{ "name": "phase-3" }, { "name": "packages" }, { "name": "approval" }]
}
